body{
  margin: 0px;
  background: #0a0a0a;
}
.App {
  margin: 0;
  /* text-align: center; */
  
  height:100vh
}
.Intro-words{
  width: 100%;
  /* align-content: center; */
  /* display: ; */
  margin: 150px 0 0 0;
}
.Intro-words div{
  font-size: 64px;
  color: white;
  /* animation: fadein 2s; */
  /* animation-timing-function: cubic-bezier(.5,.5,.5,.5); */
  display: inline-block;
}
.Intro-words h1 div:nth-child(1){
  display: inline-block;
  animation: fadein 1.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);

}
.Intro-words h1 div:nth-child(2){
  animation: fadein 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);

}
.Intro-words h1 div:nth-child(3){
  animation: fadein 1.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);

}
.Intro-words h1 div:nth-child(4){
  animation: fadein 1.7s cubic-bezier(0.445, 0.05, 0.55, 0.95);

}
.Intro-words h1 div:nth-child(5){
  color: rgb(22, 11, 175);
  animation: fadein 2.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition-delay: 5s;

}
.Intro-words h1 div:nth-child(6){
  animation: fadein 1.95s cubic-bezier(0.445, 0.05, 0.55, 0.95);

}
.Intro-words h1 div:nth-child(7){
  animation: fadein 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes fadein {
  from {
      transform: translateY(50px);
      opacity:0;
  }
  to {
    opacity:1;
  }
}