@import url('https://fonts.googleapis.com/css?family=Cabin|Rubik');

body{
    margin: 0px;
    background: #0a0a0a;
}
.App {
    margin: 0;  
    height:100%;
}
.Main-title{
    margin: 15px 0 0 0;
    position: relative;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color:#0bafaf;
    font-size: 4em;
    animation: fadeInDown 2s cubic-bezier(0.23, 1, 0.320, 1);
    
}
.main-container{
    transform-style: preserve-3d;
    height: 100vh;
    overflow-y: scroll;
    perspective: 1px;
}
.Intro-words{
    /* border:solid  orange; */
    padding: .5em;
    font-family: 'Cabin', sans-serif;
    width: 100%;
    position: relative;
    margin: 75px 0 25px 0;
    z-index: 1;
}
.Intro-words div{
    font-size: 64px;
    color: white;
    display: inline-block;
}
.Intro-words h1 div:nth-child(1){
    display: inline-block;
    animation: fadeInUp 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.Intro-words h1 div:nth-child(2){
    animation: fadeInUp 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.Intro-words h1 div:nth-child(3){
    animation: fadeInUp 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.Intro-words h1 div:nth-child(4){
    animation: fadeInUp 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);

}
.Intro-words h1 div:nth-child(5){
    color: rgb(22, 11, 175);
    animation: fadeInUp 2.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-delay: 5s;
    }
.Intro-words h1 div:nth-child(6){
    animation: fadeInUp 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.Intro-words h1 div:nth-child(7){
    animation: fadeInUp 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
      to {
      opacity: 1;
    }
  }
@keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
@keyframes fadeInUp {
from {
    transform: translate3d(0, 100%, 0);
    opacity:0;
}
to {
    opacity:1;
}
}
.parallax-container{
    /* border: solid #0ccfcc; */
    height:75vh;
}
#background-video{
    top: -200px;
    left:1rem;
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
/* background: url('/StockVideos/mandrawingboard.mp4'); */
    transform: translateZ(-1px) scale(1.5);  
    animation: fadeIn 2s ease-in;
}
.Description-Container{
    justify-content: space-around;
    display: flex;
    width: 100vw;
    background-color:#0bafaf;
    font-family: 'Cabin', sans-serif;
    display:flex;
    text-align: justify;
    /* border: solid red; */
    height: 100vh;
    color: white;
    font-size: 1.33333vw;
    line-height: 1.5;
}
.Description{
    padding: 10px;
    margin: auto auto auto auto; 
    /* border: solid; */
    width: 45vw;
    height: auto;
    display: inline-block;
}
.Description-picture{
    padding: 5px;
    margin: 6rem 0 0 0; 
    /* border: solid; */
    width: 50%;
    background-image: url(../images/workdesk.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}